<!DOCTYPE html>
<head>

</head>
<body>
<script>
  class Persona{
  constructor(nome, cognome, eta, genere, interessi){
    this.nome = nome;
    this.cognome = cognome;
    this.eta = eta;
    this.genere = genere;
    this.interessi = interessi;
  }
    saluta (){
      console.log('Ciao sono ${this.nome}');
    };
  };

  class Insegnante{
  constructor(nome, cognome, eta, genere, interessi, materia){
    super( nome, cognome, eta, genere, interessi);

    this.materia = materia;
  }

  get materia(){
    return this._materia;
  }

  set materia(nuovaMateria){
    this._materia = nuovaMateria;
  }

  riprendiAlunno(nomeAlunno){
    console.log(`${nomeAlunno} non si mangia in classe`);
  }
}  

  const insegnante = new Insegnante('Anna', 'Blu', 32,'Femmina', ['Cinema'], 'Storia');
  console.log(insegnante.materia);
  insegnante.materia();
  console.log(insegnante.materia);


</script>
</body>